## Core latex/pdflatex auxiliary files:
.DS_Store
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.pygtex
*.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
# *.bbl-SAVE-ERROR
# *.bcf-SAVE-ERROR

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz

## todonotes
*.tdo

##
_minted-Dissertation/
# Chapter2/_minted-2_Methods/

#token
token_thesis.txt
